[submodule "src/ivp"]
	path = src/ivp
	url = https://github.com/nillerusr/source-physics
[submodule "src/external/v8"]
	path = src/external/v8
	url = https://github.com/v8/v8
[submodule "src/thirdparty/imgui"]
	path = src/thirdparty/imgui
	url = https://github.com/ocornut/imgui
